@import "./reset.css";

/* ST: pages */
@import url(./home.css);
@import url(login.css);
@import url(register.css);
@import url(nav.css);
@import url(writeblog.css);
@import url(bloglist.css);
@import url(mybloglist.css);
@import url(viewblog.css);
@import url(mybookshelf.css);
/* ST: pages */

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

*:focus {
  outline: 0;
}

*:focus-visible {
  box-shadow: 0 0 0 1px var(--primary);
  border-radius: 8px;
}

body {
  --s-text-basic: 16px;
  --s-text-small: 14px;
  --s-text-warning: 12px;

  --primary: #8b1e3f;
  --sub-primary: #f8e9ed;

  --accent: #5d7f63;
  /* --sub-accent: #e3ede8; */
  --sub-accent: #cbd5cd;
  /* --sub-accent: #a8c1b3; */

  --c-text-basic: #121212;
  --c-focus: #24388d;
  --c-warning: #ff1414;
  --c-gray-10: #dadada;
  --c-gray-20: #999;
  --c-white: #fff;
  --c-black: #333333;

  --w-bold: 700;
  --w-normal: 400;

  font-size: var(--s-text-basic);
  color: var(--c-text-basic);
  font-weight: var(--w-normal);
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;

  margin: 0;
}

.index-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;

  .container {
    margin: auto;
    width: 500px;
    text-align: center;
    padding: 40px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}

/* ST: main-container */
.main-container {
  margin-top: 64px;
  margin-inline: auto;
  padding-block: 48px;

  min-height: calc(100vh - 177.5px);
  max-width: 1050px;
}
/* ED: main-container */

/* 제목 스타일 */
.title {
  font-size: 32px;
  color: #2c3e50;
  margin-bottom: 20px;
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* ST: 링크 스타일 */
.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link {
  font-size: 15px;
  text-decoration: none;
  color: #4c6246;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.link:hover {
  background-color: var(--primary);
  color: white;
}
/* ED: 링크 스타일 */

/* 푸터 스타일 */
.footer {
  margin-top: 20px;
  font-size: 14px;
  color: gray;
}
.home-icon {
  font-size: 30px;
  color: var(--primary);
  text-decoration: none;
  padding: 10px;
  background-color: e0f7da;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;

  position: absolute; /* 절대 위치 */
  top: 10px; /* 상단에서 10px 떨어짐 */
  left: 10px; /* 왼쪽에서 10px 떨어짐 */
}

/* ST: footer */
.footer-wrapper {
  padding: 48px 32px;

  background-color: #64162d;

  text-align: center;
  font-size: 14px;
  color: var(--sub-primary);
}
/* ED: footer */

/* component */
/* ST: blog-card-container */
.blog-card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  a {
    display: block;
  }

  .blog-card {
    display: flex;
    gap: 12px;

    padding-block: 24px;
    border-bottom: var(--c-gray-10) 1px solid;

    height: 160px;

    .blog-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 100%;

      .blog-profile {
        color: var(--c-gray-20);
      }
      .blog-title {
        font-size: 18px;
      }
      .blog-content {
        color: var(--c-gray-20);

        display: -webkit-box;
        -webkit-line-clamp: 3; /* 최대 줄 수 */
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .wrapper-like-comment {
        color: var(--c-gray-20);
      }
    }

    img {
      height: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
}
/* ED: blog-card-container */
