@import url(reset.css);
@import url(theme.css);
@import url(layout.css);

/* ST: components */
@import url(components/maincontainer.css);
@import url(components/blogcardcontainer.css);
@import url(components/bookcardcontainer.css);
/* ED: components */

/* ST: pages */
@import url(pages/index.css);
@import url(pages/home.css);
@import url(pages/login.css);
@import url(pages/register.css);
@import url(pages/bloglist.css);
@import url(pages/writeblog.css);
@import url(pages/mybloglist.css);
@import url(pages/viewblog.css);
@import url(pages/mybookshelf.css);
@import url(pages/recommendation.css);
/* ED: pages */

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

*:focus {
  outline: 0;
}

*:focus-visible {
  box-shadow: 0 0 0 1px var(--primary);
  border-radius: 8px;
}

body {
  font-size: var(--s-text-basic);
  color: var(--c-text-basic);
  font-weight: var(--w-normal);
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;

  margin: 0;
}

/* ST: h2 page-title */
h2 {
  margin-bottom: 48px;

  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
/* ED: h2 page-title */
