/* ST: writeblog */
.writeblog-container {
  padding-block: 48px;

  h2 {
    margin-bottom: 48px;

    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .write-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    text-align: center;

    .input-title {
      border: 0;
      border-bottom: var(--c-gray-20) 1px solid;
      padding: 10px;

      height: 30px;

      font-size: 20px;
    }

    .input-story {
      border-radius: 8px;
      padding: 10px;

      resize: none;
      height: 50vh;
    }

    .upload-btn {
      cursor: not-allowed;

      align-self: center;

      padding: 10px 30px;
      border-radius: 8px;
      border: 0;

      font-weight: bold;
    }
  }

  form:valid .upload-btn {
    cursor: pointer;

    background-color: var(--primary);
    color: var(--c-white);
  }
}
/* ED: writeblog */
