<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" />
    <!-- 시원 -->
    <!-- <link href="../static/css/style.css" rel="stylesheet" /> -->
  </head>
  <body>
    <div th:replace="~{ nav.html::navbar}"></div>
    <!-- 시원 -->
    <!-- <div id="navbar"></div> -->

    <!-- <div>
      <div class="card" th:each="i : ${blogs}">
        <div class="card-content">
          오른쪽 텍스트 영역
          <a th:href="@{ '/viewblog/' + ${i.id} }">
            <h4 th:text="${i.title}"></h4>
          </a>
        </div>
      </div>
    </div> -->

    <div class="main-container bloglist-container">
      <h2>블로그</h2>

      <section>
        <h3>인기 글</h3>
          <div class="hot-blog-card-container" >
            <div th:each="i : ${likes}">
            <a th:href="@{ '/viewblog/' + ${i.id} }">
              <div class="hot-blog-card">
                <img th:src="${i.imgurl}" />
                <h4 th:text="${i.title}">블로그 제목</h4>
                <p
                        class="blog-content"
                        th:href="@{ '/viewblog/' + ${i.id} }"
                        th:text="${i.story}"
                >
                </p>
                <p class="wrapper-like-comment">
                  <span>공감 </span><span th:text="${i.likeCount}">24</span> | <span>댓글</span>
                  <span>1</span>
                </p>
              </div>
            </a>
              </div>
          </div>
      </section>

      <section>
        <h3>새 글</h3>
        <div class="blog-card-container" th:each="i : ${blogs}">
          <a th:href="@{ '/viewblog/' + ${i.id} }">
            <article class="blog-card">
              <div class="blog-info">
                <h4 class="blog-title" th:text="${i.title}">블로그 제목</h4>
                <p
                        class="blog-content"
                        th:href="@{ '/viewblog/' + ${i.id} }"
                        th:text="${i.story}"
                >
                </p>
                <p class="wrapper-like-comment">
                  <span>공감 </span><span th:text="${i.likeCount}">24</span> | <span>댓글 </span>
                  <span>1</span>
                </p>
              </div>
              <img
                      th:src="${i.imgurl}"
                      style="max-width: 100%; height: auto"
              />
            </article>
          </a>
        </div>
      </section>
    </div>

    <!-- footer -->
    <div th:replace="~{ footer.html::footer}"></div>
    <!-- 시원 -->
    <!-- <div id="footer"></div> -->
  </body>
  <!-- 시원 -->
  <!-- <script>
    fetch("nav.html")
      .then((response) => response.text())
      .then((html) => {
        document.getElementById("navbar").innerHTML = html;
      })
      .catch((error) => console.error("Error loading the navbar:", error));
    fetch("footer.html")
      .then((response) => response.text())
      .then((html) => {
        document.getElementById("footer").innerHTML = html;
      })
      .catch((error) => console.error("Error loading the navbar:", error));
  </script> -->
</html>
