<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Book Search</title>
    <link href="/css/style.css" rel="stylesheet" />

    <!-- 시원 -->
    <!-- <link href="../static/css/style.css" rel="stylesheet" /> -->
  </head>
  <body>
    <div class="main-container booksearch-container">
      <div th:replace="~{ nav.html::navbar}"></div>
      <h2>도서 검색</h2>

      <!-- 검색 폼 -->
      <form
        class="search-form"
        action="#"
        th:action="@{/booksearch}"
        method="get"
      >
        <label class="sr-only" for="query">검색: </label>
        <input
          type="text"
          id="query"
          name="query"
          th:value="${query}"
          placeholder="검색어를 입력하세요"
        />
        <button type="submit">Search</button>
      </form>
      <div
        th:if="${error}"
        class="error-message"
        style="color: red; margin-bottom: 1rem"
      >
        <p th:text="${error}"></p>
      </div>
      <!-- 책 목록 -->
      <ul class="book-list">
        <li class="book-item" th:each="book : ${books}">
          <img
            class="book-img"
            th:src="${book.image_url}"
            alt="Book Image"
            width="100"
          />

          <div class="book-info">
            <h3 class="book-title" th:text="${book.title}"></h3>
            <p class="book-author" th:text="${book.author}"></p>
            <p class="book-published" th:text="${book.publishedDate}"></p>
          </div>
          <button
            class="save"
            type="button"
            th:attr="data-title=${book.title},
                       data-author=${book.author},
                       data-date=${book.publishedDate},
                       data-image=${book.image_url},
                        data-description=${book.description},
                       data-tag=${book.tag},
                       data-isbn=${book.isbn}"
            onclick="openRatingModal(this)"
          >
            저장
          </button>
        </li>
      </ul>

      <!-- 모달창 -->
      <div id="overlay" style=""></div>
      <div id="ratingModal" style="">
        <form action="/save" method="POST">
          <div class="rating-container">
            <input type="hidden" id="title" name="title" />
            <input type="hidden" id="author" name="author" />
            <input type="hidden" id="publishedDate" name="publishedDate" />
            <input type="hidden" id="image_url" name="image_url" />
            <input type="hidden" id="description" name="description" />
            <input type="hidden" id="tag" name="tag" />
            <input type="hidden" id="isbn" name="isbn" />

            <p id="save-book-title"></p>

            <label class="sr-only" for="rating">별점:</label>
            <select name="rating" id="rating" required>
              <option value="1">⭐</option>
              <option value="2">⭐⭐</option>
              <option value="3" selected>⭐⭐⭐</option>
              <option value="4">⭐⭐⭐⭐</option>
              <option value="5">⭐⭐⭐⭐⭐</option>
            </select>
            <div class="btn-wrapper">
              <button type="submit">저장</button>
              <button type="button" onclick="closeRatingModal()">취소</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- footer -->
    <div th:replace="~{ footer.html::footer}"></div>
    <!-- 시원 -->
    <!-- <div id="footer"></div> -->
    <script>
      function openRatingModal(button) {
        document.getElementById("title").value =
          button.getAttribute("data-title");
        document.getElementById("author").value =
          button.getAttribute("data-author");
        document.getElementById("publishedDate").value =
          button.getAttribute("data-date");
        document.getElementById("image_url").value =
          button.getAttribute("data-image");
        document.getElementById("description").value =
          button.getAttribute("data-description");
        document.getElementById("tag").value = button.getAttribute("data-tag");
        document.getElementById("isbn").value =
          button.getAttribute("data-isbn");

        document.getElementById("save-book-title").textContent =
          button.getAttribute("data-title");
        document.getElementById("overlay").style.display = "block";
        document.getElementById("ratingModal").style.display = "block";
      }
      function closeRatingModal() {
        document.getElementById("overlay").style.display = "none";
        document.getElementById("ratingModal").style.display = "none";
      }
    </script>
  </body>
</html>
