<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>HOME</title>
    <link href="/css/style.css" rel="stylesheet" />
    <!-- 시원 -->
    <!-- <link href="../static/css/style.css" rel="stylesheet" /> -->
  </head>
  <body>
    <!-- navbar -->
    <div th:replace="~{ nav.html::navbar}"></div>
    <!-- 시원 -->
    <!-- <div id="navbar"></div> -->

    <!-- ST: 메인 배너 -->
    <div class="main-banner">
      <h2>AI 맞춤 도서 추천 서비스</h2>
      <p>
        당신의 취향과 관심사에 맞는 완벽한 책을 찾아보세요. <br />인공지능이
        당신만을 위한 도서를 추천해드립니다.
      </p>
      <form>
        <fieldset>
          <legend class="sr-only">도서 검색</legend>
          <label for="searchBook" class="sr-only"
            >책 제목, 작가, 키워드로 검색하세요.</label
          >
          <input
            type="text"
            id="searchBook"
            name="searchBook"
            placeholder="책 제목, 작가, 키워드로 검색하세요."
          />
          <button type="submit">검색</button>
        </fieldset>
      </form>
      <div class="keywords">
        <span>인기 검색어: </span>
        <a href="">소설</a>
        <a href="">자기계발</a>
        <a href="">역사</a>
        <a href="">과학</a>
        <a href="">경제/경영</a>
      </div>
    </div>
    <!-- ED: 메인 배너 -->

    <!-- ST: main-container -->
    <div class="main-container home-container">
      <!-- ST: AI 맞춤 추천 -->
      <section>
        <h3>당신을 위한 AI 맞춤 추천</h3>
        <p>
          당신의 독서 취향과 관심사를 분석하여 AI가 엄선한 독서 목록입니다.
          <br />
          더 많은 책을 저장할수록 추천은 더 정확해집니다.
        </p>
        <div class="card-container">
          <div class="book-card" th:each="i : ${#numbers.sequence(1,5)}">
            <img src="/images/ai.jpeg" alt="책" class="book-bsimg" />
            <div class="book-info">
              <p class="genre">소설</p>
              <h4 class="book-title">아몬드: 손원평 장편 소설</h4>
              <p class="book-author">손원평</p>
              <p class="book-price">10,000원</p>
              <div class="wrapper">
                <span class="book-date">2025.04.02.</span>
                <a href="" class="go-to-detail">상세보기</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ED: AI 맞춤 추천 -->

      <!-- ST: 베스트 셀러 -->
      <section>
        <h3>이번 주 베스트 셀러</h3>
        <div class="card-container">
          <div th:each="book : ${books}" class="book-card">
            <img th:src="${book.bsimg}" alt="책" class="book-bsimg" />
            <div class="book-info">
              <p class="genre">소설</p>
              <h4 th:text="${book.title}" class="book-title">
                아몬드: 손원평 장편 소설
              </h4>
              <p th:text="${book.author}" class="book-author">손원평</p>
              <p th:text="${book.price}" class="book-price">10,000원</p>
              <div class="wrapper">
                <span th:text="${book.date}" class="book-date"
                  >2025.04.02.</span
                >
                <a href="" class="go-to-detail">상세보기</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ED: 베스트 셀러 -->

      <!-- ST: 서비스 소개 -->
      <section>
        <h3>AI 도서 추천, 어떻게 작동할까요?</h3>
        <p>
          나만의 도서관은 최신 인공지능 기술을 활용하여 개인화된 도서 추천
          서비스를 제공합니다.
        </p>
        <div class="service-container">
          <div class="service-card">
            <img src="../static/images/ico_profile.svg" alt="" />
            <h4>프로필 생성</h4>
            <p>간단한 질문에 답하여 당신의 독서 취향과 관심사를 알려주세요.</p>
          </div>
          <div class="service-card">
            <img src="../static/images/ico_brain.svg" alt="" />
            <h4>AI 분석</h4>
            <p>인공지능이 당신의 프로필을 분석하여 최적의 도서를 찾아냅니다.</p>
          </div>
          <div class="service-card">
            <img src="../static/images/ico_book.svg" alt="" />
            <h4>맞춤 추천</h4>
            <p>당신의 취향과 관심사에 맞는 도서 목록을 제공합니다.</p>
          </div>
          <div class="service-card">
            <img src="../static/images/ico_feedback.svg" alt="" />
            <h4>피드백 반영</h4>
            <p>책에 대한 평가를 남기면 더 정확한 추천을 받을 수 있습니다.</p>
          </div>
        </div>
      </section>
      <!-- ED: 서비스 소개 -->
    </div>
    <!-- ED: main-container -->

    <!-- footer -->
    <div th:replace="~{ footer.html::footer}"></div>
    <!-- 시원 -->
    <!-- <div id="footer"></div> -->
  </body>
  <!-- 시원 -->
  <!-- <script>
    fetch("nav.html")
      .then((response) => response.text())
      .then((html) => {
        document.getElementById("navbar").innerHTML = html;
      })
      .catch((error) => console.error("Error loading the navbar:", error));
    fetch("footer.html")
      .then((response) => response.text())
      .then((html) => {
        document.getElementById("footer").innerHTML = html;
      })
      .catch((error) => console.error("Error loading the navbar:", error));
  </script> -->
</html>
