<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <!-- 로그인폼 -->
    <!-- 로그인 -->
    <div class="login-container">
      <h2>로그인</h2>

      <form class="login-form" action="/login" method="POST">
        <fieldset>
          <div class="wrapper">
            <!-- id input -->
            <div class="input id">
              <input name="username" required placeholder="아이디" />
            </div>

            <!-- password input -->
            <div class="input password">
              <input type="password" id="password" name="password" required placeholder="비밀번호" />
              <p class="warning-pw">비밀번호는 10자리 이상 입력해 주세요</p>
            </div>

            <!-- login state (로그인 상태 유지) -->
            <div class="login-state">
              <input type="checkbox" role="switch" id="login-state" name="login-state" />
              <label for="login-state">로그인 상태 유지</label>
            </div>

            <!-- login button -->
            <button type="submit" class="login-btn">로그인</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
