<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>나의 블로그</title>
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div th:replace="~{ nav.html::navbar}"></div>

    <div class="main-container mybloglist-container">
      <h2>내 블로그</h2>

      <section>
        <h3>작성한 글</h3>
        <div class="blog-card-container" th:each="i : ${blogs}">
          <a th:href="@{ '/viewblog/' + ${i.id} }">
            <article class="blog-card">
              <div class="blog-info">
                <h4 class="blog-title" th:text="${i.title}">블로그 제목</h4>
                <p class="blog-content" th:href="@{ '/viewblog/' + ${i.id} }" th:text="${i.story}">내용 연결하기</p>
                <p class="wrapper-like-comment"><span>공감 </span><span th:text="${i.likeCount}"> </span> | <span>댓글 1</span></p>
              </div>
              <img th:src="${i.imgurl}" alt="블로그 이미지" style="max-width: 100%; height: auto" />
            </article>
          </a>
        </div>
      </section>
    </div>
    <div th:replace="~{ footer.html::footer}"></div>
  </body>
</html>
