<div class="nav" th:fragment="navbar">
  <div class="nav-wrapper">
    <span class="nav-bar">
      <a href="/home" class="logo">나만의 도서관</a>

      <a href="/booksearch">도서 검색</a>
      <span> | </span>
      <a href="/bloglist">블로그</a>
      <span> | </span>
      <a href="/bloglist">도서 추천</a>
      <span> | </span>
      <a href="/writeblog">글 쓰기</a>
      <span> | </span>
      <a href="/mybookshelf">나의 서재</a>
      <span> | </span>
      <a href="/mybloglist">나의 블로그</a>
    </span>
    <span class="username" sec:authorize="isAuthenticated()">
      <span sec:authentication="principal.username"></span>
      <a href="/logout" class="logout"> logout </a>
    </span>
  </div>
</div>
