<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>회원가입</title>
    <link href="./css/style.css" rel="stylesheet" />
    <!-- 시원 -->
    <!-- <link href="../static/css/style.css" rel="stylesheet" /> -->
  </head>
  <body>
    <!-- 회원가입 -->
    <div class="register-container">
      <h2>회원가입</h2>

      <form class="register-form" action="/addmember" method="POST">
        <fieldset>
          <legend class="sr-only">회원가입</legend>
          <div class="wrapper">
            <input
              id="username"
              name="username"
              placeholder="아이디"
              required
            />
            <input
              name="password"
              type="password"
              placeholder="비밀번호"
              minlength="10"
              required
            />
            <input name="displayname" placeholder="이름" required />

            <input name="email" type="email" placeholder="이메일" />

            <input name="phone" type="tel" placeholder="핸드폰 번호" required />

            <button type="submit" class="register-btn">가입하기</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
