<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>블로그 보기</title>
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div th:replace="~{ nav.html::navbar}"></div>

    <div class="main-container viewblog-container">
      <h2>내 블로그</h2>
      <div class="view-container">
        <h3 class="get-title" th:text="${blog.title}">제목</h3>
        <div class="get-story" th:text="${blog.story}"></div>
        <div th:if="${blog.imgurl != null}">
          <img class="get-img" th:src="${blog.imgurl}" alt="블로그 이미지" />
        </div>
      </div>

      <form class="like-container" action="/like" method="post">
        <input type="hidden" name="id" th:value="${blog.id}" />
        <span>좋아요</span>
        <button type="submit">❤️‍🔥</button>
        <span th:text="${blog.LikeCount}"></span>
      </form>

      <div class="comments-container">
        <h4>댓글</h4>

        <form class="addcomment-form" action="/addcomment" method="POST">
          <input name="story" class="addcomment" />
          <input type="hidden" name="blog_id" th:value="${blog.id}" />
          <button type="submit" class="register-btn">등록</button>
        </form>

        <div th:each="comment : ${comments}" class="comment-card">
          <p th:text="${comment.story}" />
          <p class="comment-writer">
            <span>작성자: </span>
            <span th:text="${comment.writer}">이서윤</span>
          </p>
        </div>
      </div>
    </div>
    <div th:replace="~{ footer.html::footer}"></div>
  </body>
</html>
